.header {
	@apply fixed z-50 w-full bg-white py-3;

	@media (max-width: 768px) {
		@apply py-2;
	}
}

.wrapper {
	@apply flex justify-between items-center container mx-auto;

	@media (max-width: 768px) {
		@apply px-4;
	}
}

.logo {
	@apply text-3xl font-bold;
	font-family: var(--font-bebas), sans-serif;

	@media (max-width: 768px) {
		@apply text-xl;
	}
}

.nav {
	@apply flex-1 px-32 text-xl;

	@media (max-width: 1024px) {
		@apply px-12;
	}

	@media (max-width: 768px) {
		@apply hidden;
	}
}

.nav.open {
	@apply block absolute top-16 left-0 w-full bg-white p-4 shadow-lg;

	& ul {
		@apply flex flex-col items-center space-y-4;
	}
}

.navItem {
	@apply relative transition-all duration-300;

	&::after {
		content: '';
		@apply absolute left-0 bottom-[-2px] w-0 h-[2px] bg-black transition-all duration-300;
	}

	&:hover::after {
		@apply w-full;
	}
}

.burger {
	@apply hidden flex flex-col space-y-1 cursor-pointer w-8 h-6 justify-center;

	span {
		@apply block w-full h-1 bg-black transition-all duration-300;
	}

	&.open {
		@apply block;

		span:nth-child(1) {
			@apply rotate-45 translate-y-2;
		}
		span:nth-child(2) {
			@apply opacity-0;
		}
		span:nth-child(3) {
			@apply -rotate-45 -translate-y-2;
		}
	}
}
